<%= provide(:title, "Sign Up") %>
<h1>Sign up</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<!--
		Ref: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for
		-->
		<%= form_for(@user) do |f| %>
			<!--
			Display validation error messages for invalid input.
			-->
			<%= render 'shared/error_messages' %>
			<!--
			Creates the HTML needed to make a labeled text field element
			appropriate for setting the :name attribute of the User model.
			Prototype: label(object_name, method, content_or_options = nil, options = nil, &block)
			-->
			<%= f.label :name %>
			<!--
			Prototype: text_field(object_name, method, options = {})
			-->
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email %>
			<!--
			Prototype: email_field(object_name, method, options = {})
			-->
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<!--
			Prototype: password_field(object_name, method, options = {})
			-->
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.submit "Create Account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
